secret_key_base: '123'

development:
  db_user_name: '123'
  db_password: '123'
  host_name: 'localhost:3000'
  redis_url: 'redis://127.0.0.1:6379/0/cache'

test:
  db_user_name: '123'
  db_password: '123'
  host_name: 'localhost:3000'
  redis_url: 'redis://127.0.0.1:6379/1/cache'